<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/img/26115.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>Hello, 动脑学院</p>

                <a href="#">
                    <i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type='submit' name='seach' id='search-btn' class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <!-- 选中样式在li上增加class：active-->
            <li>
                <a href="/admin">
                    <i class="fa fa-gavel"></i>
                    <span>首页</span>
                </a>
            </li>
            <li>
                <a href="/admin/articleList/0">
                    <i class="fa fa-dashboard"></i>
                    <span>文章管理</span>
                </a>
            </li>
            <li>
                <a href="/admin/typeList/0">
                    <i class="fa fa-gavel"></i>
                    <span>分类管理</span>
                </a>
            </li>

            <li>
                <a href="/admin/tagList/0">
                    <i class="fa fa-globe"></i>
                    <span>Tag标签管理</span>
                </a>
            </li>
            <li>
                <a href="/admin/attributeList/0">
                    <i class="fa fa-globe"></i>
                    <span>推荐属性管理</span>
                </a>
            </li>
            <li>
                <a href="/admin/userList/0">
                    <i class="fa fa-glass"></i>
                    <span>用户管理</span>
                </a>
            </li>
            <li>
                <a href="simple.html">
                    <i class="fa fa-glass"></i>
                    <span>网站设置</span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>